body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.404);
    margin: 0%;
    padding: 0%;
}
#menu{
    z-index: 2;
}
#menu-bar{
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar{
    height: 5px;
    width: 100%;
    background-color: black;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.nav{
    transition: 0.3s ease;
    display: none;
}
.nav ul{
    padding: 0 22px;
}
.nav li{
    list-style: none;
    padding: 12px 0;
}
.nav li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.nav li a:hover{
    font-weight: bold;
    color: rgb(151, 252, 252);
}
.menu-bg, #menu{
    top: 0;
    left: 0;
    position: absolute;
}
.menu-bg{
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle,white,rgb(151, 252, 252));
    border-radius: 50%;
    transition: 0,3s ease;
}

.change{
    display: block;
}
.change .bar{
    background-color: black;
}
.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar2{
    opacity: 0;
}
.change #bar3{
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg{
    width: 550px;
    height: 715px;
    transform: translate(-60%, -30%);
}

.but{
    padding: 10px 8px;
    text-align: center;
    cursor: pointer;
    

    border-radius: 10px;
    font-size: 20px;
    color: rgb(253, 53, 137);
    border-color: rgb(253, 53, 137); 
    width: 120px;
    height: 40px;
}
.but:hover{
    background: radial-gradient(circle,white,rgb(253, 53, 137));
    transition: background 1s;
}

/* rodapé */
.footer{
    height: 310px;
    background: radial-gradient(circle,white,rgb(151, 252, 252));
    margin: 0%;
    border-bottom: 5px groove rgb(253, 53, 137);
}

.footer h2{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
}

.footer p{
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
    color: black;
    margin-top: 10px;
}

.footer2{
    background: radial-gradient(circle,white,rgb(151, 252, 252));
    height: 12%;
    width: 100%;
    padding-top: 17px;
    text-align: center;
}
.footer li a{
    color: black;
    font-size: 13px;
    text-decoration: none;
}
.footer li a:houver{
    background: radial-gradient(circle,white,rgb(253, 53, 137));
    font-weight: bold;
}

.grid-4, .grid-8{
    float: left;
    padding-right: 70px;
    text-align: center;
    width: 248px;

}

.img_icone{
    width: 15%;
}
