
.waves{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.waves1{
    animation: movewave1 3s ease-in-out infinite alternate;
}

@keyframes movewave1{
    from {
        transform: translateX(-2000px);
    }
}
.waves2{
    animation: movewave2 3s 1.2s ease-in-out infinite alternate;
}

@keyframes movewave2{
    from {
        transform: translateX(-1800px);
    }
}
.waves3{
    animation: movewave3 3s 0.7s ease-in-out infinite alternate;
}

@keyframes movewave3{
    from {
        transform: translateX(-1600px);
    }
}