*{
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
    font-family: sans-serif;
}
body{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 1.0em;
    color: rgb(173, 23, 73);
    /* text-shadow: 3px 3px pink; */
    background-image: url('https://images6.alphacoders.com/459/thumb-1920-459839.jpg');
    overflow-x: hidden;
}
/* logo */
.logo{
    width: 10%;
    float: right;
    padding-right: 15px;
    padding-top: 8px;
    position: absolute;
    left: 1199px;
    top: 0px;
}

/* botrão de login dentro do menu */
.but{
    padding: 10px 8px;
    text-align: center;
    cursor: pointer;
    background-image: linear-gradient(#20B2AA,#f770b3);
    border-radius: 10px;
    font-size: 20px;
    color: black;
    border-color: black; 
    width: 120px;
    height: 40px;
}
.but:hover{
    background: radial-gradient(circle,white,#DDA0DD);
    transition: background 1s;
}

/* menu */
#menu{
    z-index: 2;
    text-shadow: 3px 3px pink;
}
#menu-bar{
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    margin-left: 45px;

}

.bar{
    height: 5px;
    width: 100%;
    background-image: linear-gradient(#20B2AA,#FF69B4);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.nav{
    transition: 0.3s ease;
    display: none;
    margin-left: 20px;
}
.nav ul{
    padding: 0 22px;
}
.nav li{
    list-style: none;
    padding: 12px 0;
}
.nav li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.nav li a:hover{
    font-weight: bold;
    color: #20B2AA;
}
.menu-bg, #menu{
    top: 0;
    left: 0;
    position: absolute;
}
.menu-bg{
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle,#20B2AA,#FF69B4);
    text-shadow: 3px 3px pink;
    border-radius: 50%;
    transition: 0,3s ease;
}

.change{
    display: block;
}
.change .bar{
    background-color: #FF69B4;
}
.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar2{
    opacity: 0;
}
.change #bar3{
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg{
    width: 627px;
    height: 770px;
    transform: translate(-60%, -30%);
}
/* fim */

/* galeria de videos */
.container{
    position: relative;
    width: 1290px;
     display: flex; 
     flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .card{
    position: relative;
    max-width: 270px;
    height: 270px;
    background: #fff;
    margin: 30px 15px;
    display:flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover{
    height: 460px;
    background-image: linear-gradient(#20B2AA,#FF69B4);
}

.container .card .imgbx{
   position: relative;
   width: 260px;
   height: 260px;
}
.container .card .imgbx img{
    max-width: 63%;
    border-radius: 4px;
    padding-left: 50px;

}
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    height: 190px;
    padding-top: 30px;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
.content p{
    height: 125px;
}
.btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color:#000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 5px;
    background-clip: text;
    margin-top: 10px;

}
.btn:hover{
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    background-color: #20B2AA;
}

/* wave */
.wave{
    background-color: #ff69b4ef;
    height: 470px;
    margin-top: -1%;
}

.text-novidades{
    float: left;
    margin-top: 115px;
    margin-left: 130px;
    width: 490px;
    color: #111;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.img-novidades{
    float: left;
    margin-left: 100px;
}


/* cards dos melhores personagens */

.caixa-principal{
    /* background-color: white; */
    padding: 15rem 5rem 5rem 5rem;
    margin-top: -13rem;
}
.texto-centralizado{
    text-align: center;
}
.margin-bottom-2{
    margin-bottom: 2rem;
}
.titulo-principal{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right,#20B2AA,#FF69B4);
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
    -webkit-background-clip:text; /* propriedade define até que ponto o plano de fundo (cor ou imagem) deve se estender em um elemento. */
}
.titulo-principal:hover{
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5);
}
.row{
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
    /* Exibir os itens flexíveis com espaço entre as linhas */
    justify-content: space-around; /* propriedade alinha os itens do contêiner flexível quando os itens não usam todo o espaço disponível no eixo principal (horizontalmente). */
}
.row .col-1-of-3{
    width: calc((100% - 2 * 6rem) / 3);
}
.card-melhores{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
}
.card-lado{
    height: 48rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 125%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
}
.card-lado-frente{
    background-color: white;
}
.card-lado-tras{
    transform: rotateY(180deg);
}
.card-lado-tras-2{
    background-image: linear-gradient(to right bottom,#20B2AA,#FF69B4);
}
.card-melhores:hover .card-lado-frente{
    transform: rotateY(-180deg);
}
.card-melhores:hover .card-lado-tras{
    transform: rotateY(0);
}
.card-imagem{
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.card-imagem-back-1{
    background-image: linear-gradient(to right bottom,#20B2AA,#FF69B4),
    url(../imagem/luffy-melhores.jpg);
}
.card-imagem-back-2{
    background-image: linear-gradient(to right bottom,#20B2AA,#FF69B4),
    url(../imagem/saitama.jpg);
}
.card-imagem-back-3{
    background-image: linear-gradient(to right bottom,#20B2AA,#FF69B4),
    url(../imagem/goku-melhores.jpg);
}
.card-titulo{
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
}
.card-titulo-span{
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break:clone;
}
.card-titulo-span-verde{
    background-image: linear-gradient(to right bottom,#20B2AA,#FF69B4);
}
.card-detalhes{
    padding: 1rem;
}
.card-detalhes ul{
    list-style: none;
    width: 80%;
    margin: 0 auto;
}
.card-detalhes ul li{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}
/* faz as linhas entre as palavras */
.card-detalhes ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}
.card-caixa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.card-apelido-caixa{
    text-align: center;
    color: #fff;
    margin-bottom: 8rem;
}
.card-apelido-titulo{
    font-size: 1.4rem;
    text-transform: uppercase;
}
.card-apelido-nome{
    font-size: 6rem;
    font-weight: 100;
}


/* rodapé */
.footer{
    width: 100%;
    height: 325px;
    background-color:#e2e0e2b7;
    margin: 0%;
    border-bottom: 5px groove #DDA0DD;
    text-shadow: 3px 3px pink;
}

.footer h2{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
}

.footer p{
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
    color: black;
    margin-top: 10px;
}

.footer2{
    background: radial-gradient(circle,white,#FFE4E1);
    height: 15%;
    width: 100%;
    padding-top: 17px;
    text-align: center;
    text-shadow: 3px 3px pink;
}
.footer li a{
    color: black;
    font-size: 13px;
    text-decoration: none;
}
.footer li a:houver{
    background: radial-gradient(circle,white,#FF69B4);
    font-weight: bold;
}

.grid-4, .grid-8{
    float: left;
    padding-right: 70px;
    text-align: center;
    width: 248px;
}

/* redes dentro do rodapé */
.section{
    margin: 50px auto;
    width: 1025px;
    height: 150px;
}
.rede{
    width: 55px;
    height: 55px;
    float: left;
    margin-left: 20px;
    transition: all 0.4s ease-out;
    border-radius: 50px;
}
.rede:hover{
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 4px 30px 16px 0px rgba(50, 50, 50, 0.45);
}

.rede#facebook, #youtube, #github, #whatsapp{
    background-image: linear-gradient(#20B2AA,#FF69B4);
}


.icone{
    margin: 0% auto;
    padding: 6px;
    width: 40px;
}
/* fim */

.nome{
    text-transform: uppercase;
    color: #20B2AA;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgba(17, 164, 223, 0.856);
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    0%   {color: #FF69B4;}
  25%  {color: #DDA0DD;}
  50%  {color: #055753;}
  100% {color: #20B2AA;}
  }
