*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    font-family: sans-serif;
    font-size: 1.0em;
    color: rgb(173, 23, 73);
    /* text-shadow: 3px 3px pink; */
    margin: 0%;
    padding: 0%;
    background-image: url('https://images7.alphacoders.com/290/thumb-1920-290560.jpg');
    height: 2000px;
    overflow-x: hidden;
}
/* logo */
.logo{
    width: 10%;
    float: right;
    padding-right: 15px;
    padding-top: 8px;
    position: absolute;
    left: 1199px;
    top: 0px;
}
/* botrão de login dentro do menu */
.but{
    padding: 10px 8px;
    text-align: center;
    cursor: pointer;
    background-image: linear-gradient(#20B2AA,#FF69B4);
    border-radius: 10px;
    font-size: 20px;
    color: black;
    border-color: black; 
    width: 120px;
    height: 40px;
}
.but:hover{
    background: radial-gradient(circle,white,#DDA0DD);
    transition: background 1s;
}

/* menu */
#menu{
    z-index: 2;
    text-shadow: 3px 3px pink;
}
#menu-bar{
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar{
    height: 5px;
    width: 100%;
    background-image: linear-gradient(#20B2AA,#FF69B4);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.nav{
    transition: 0.3s ease;
    display: none;
}
.nav ul{
    padding: 0 22px;
}
.nav li{
    list-style: none;
    padding: 12px 0;
}
.nav li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.nav li a:hover{
    font-weight: bold;
    color: #20B2AA;
}
.menu-bg, #menu{
    top: 0;
    left: 0;
    position: absolute;
}
.menu-bg{
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle,#20B2AA,#FF69B4);
    text-shadow: 3px 3px pink;
    border-radius: 50%;
    transition: 0,3s ease;
}

.change{
    display: block;
}
.change .bar{
    background-color: #FF69B4;
}
.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar2{
    opacity: 0;
}
.change #bar3{
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg{
    width: 627px;
    height: 770px;
    transform: translate(-60%, -30%);
}
/* fim */

.container-epi{
    margin-top: 80px;
    margin-left: 35px;
    height: 500px;
}
.caixa-epi1{
    float: left;
    height: 500px;
}
.temporada{
    background-color: #DDA0DD;
}

.video{
    margin-left: 10px;
    margin-top: 10px;

}
img{
    width: 300px;
    float: left;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
}
.img-grande{
    height: 400px;
    float: left;
    margin-right: 40px;
    transition: width 2s, height 2s, transform 2s;
}
.img-grande:hover {
    background-color: #ffe4e177;
    width: 300px;
    height: 420px;
    transform: rotate(360deg);
}
.caixa-pequena{
    width: 860px;
    height: 430px;
    background-image: linear-gradient(to right,#20B2AA,#FF69B4);
    border-radius: 5px;
    justify-items: center;
    float: left;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
}
.caixa-pequena p{
    float: right;
    margin-top: 50px;
    width: 400px;
    margin-right: 10px;
    color: #111;
    text-shadow: 0 0 3px #20B2AA, 0 0 5px white;
    font-size: 20px;
}
button{
    margin-bottom: 15px;
    width: 70px;
    height: 32px; 
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    color: #20B2AA;
    border-color: #20B2AA;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}

button:hover{
    background-color: #20B2AA;
    color: black;
    transform: scale(1.1);
}
.div-gomu{
    height: 70px;
    width: 90%;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 15px;
    margin-left: 50px;
}
.div-gomu h4{
    width: 40%;
     float: left;
    margin-left: 20px;
    margin-top: 30px;
    text-shadow: 0 0 3px #20B2AA, 0 0 5px white;
    margin-bottom: 0px;
}
.div-gomu h1{
    margin-left: 20px;
    text-shadow: 0 0 3px #20B2AA, 0 0 5px white;
    margin-bottom: 0px;
}



/* rodapé */
.container-rodape{
    justify-content: center;
    align-items: center;
}
.footer{
    width: 100%;
    height: 325px;
    background-color:#e2e0e2b7;
    margin: 0%;
    border-bottom: 5px groove #DDA0DD;
    text-shadow: 3px 3px pink;
    text-align: center;
}

.footer h2{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
}

.footer p{
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
    color: black;
    margin-top: 10px;
}

.footer2{
    background: radial-gradient(circle,white,#FFE4E1);
    height: 12%;
    width: 100%;
    padding-top: 17px;
    text-align: center;
    text-shadow: 3px 3px pink;
}
.footer li a{
    color: black;
    font-size: 13px;
    text-decoration: none;
}
.footer li a:houver{
    background: radial-gradient(circle,white,#FF69B4);
    font-weight: bold;
}

.grid-4, .grid-8{
    float: left;
    text-align: center;
    width: 248px;
    margin-left: 30px;
    margin-right: 30px;

}

/* redes dentro do rodapé */
.section{
    margin: 50px auto;
    width: 1025px;
    height: 150px;
}
.rede{
    width: 55px;
    height: 55px;
    float: left;
    margin-left: 20px;
    transition: all 0.4s ease-out;
    border-radius: 50px;
}
.rede:hover{
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 4px 30px 16px 0px rgba(50, 50, 50, 0.45);
}

.rede#facebook, #youtube, #github, #whatsapp{
    background-image: linear-gradient(#20B2AA,#FF69B4);
}


.icone{
    margin: 0% auto;
    padding: 6px;
    width: 40px;
}
/* fim */

.nome{
    text-transform: uppercase;
    color: #20B2AA;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgba(17, 164, 223, 0.856);
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    0%   {color: #FF69B4;}
  25%  {color: #DDA0DD;}
  50%  {color: #055753;}
  100% {color: #20B2AA;}
  }